name: 部署VitePress

on:
  push:
    branches: [ main ]
    paths:
      - 'packages/docs/**'
      - '.github/workflows/docs.yml'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: 检查代码
        uses: actions/checkout@v2
        with:
          ref: main

      - name: 设置 Node.js and pnpm
        uses: actions/setup-node@v3
        with:
          node-version: '20.10.0'

      - name: 安装 pnpm
        run: npm install -g pnpm

      - name: Install依赖性
        run: pnpm install

      - name: Build VitePress
        run: pnpm run docs:build

      - name: 部署到GitHub页面
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.ACCESS_TOKEN_UI }}
          publish_dir: packages/docs/.vitepress/dist
          publish_branch: gh-pages
          dotfiles: true